body {
  background: linear-gradient( #e2afa5, #ad5c74);
  height: 100%;
}
h1 {
  color: #68062f;
  text-align: center;
}
li {
  font-family: verdana;
  font-size: 25px;
}

p {
  font-family: verdana;
  font-size: 25px;
}

a {
  text-decoration:none;
}
button {
  background:linear-gradient(#be9791,#916a66 );
  color: black;
  border: solid;
  border-radius: 7px;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  width: 100px;
  height: 75px;
}
.botonsi {
  background:linear-gradient(#dd8b8d ,#dcb295);
}
.botonno {
  background:linear-gradient(#7a0816,#c13707);
}
.final {
  font-family: Geneva;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.area {
  display: flex;
  justify-content: center;
  color: #000000;
}

.jugar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.boton-jugar {
  color: #050000;
  width: 150px;
  height: 150px;
  font-size: large;
}

div {
  font-family: verdana;
  font-size: 24px;
}

.primer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  color: #6d022e;
}

.center-todo {
  display: flex;
  justify-content: center;
}

.centrar-bienvenida {
  margin-left: 10px;
}

